# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# http://doc.scrapy.org/en/latest/topics/scrapyd.html

[settings]
default = arduino_forum_user_posts.settings

[deploy]
#url = http://localhost:6800/
project = arduino_forum_user_posts
